.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 6rem;
}

.ta-c {
  text-align: center;
}

.padding-md {
  padding: 3rem 3rem 3rem 4rem;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@-webkit-keyframes moveInBottom {
  /*animation*/
  0% {
    /*animation start*/
    opacity: 0; /*start invisible*/
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    /*animation end*/
    opacity: 1; /*visible 100% opacity*/
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  /*animation*/
  0% {
    /*animation start*/
    opacity: 0; /*start invisible*/
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    /*animation end*/
    opacity: 1; /*visible 100% opacity*/
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes moveInLeft {
  /*animation*/
  0% {
    /*animation start*/
    opacity: 0; /*start invisible*/
    -webkit-transform: translateX(5srem);
            transform: translateX(5srem);
  }
  100% {
    /*animation end*/
    opacity: 1; /*visible 100% opacity*/
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  /*animation*/
  0% {
    /*animation start*/
    opacity: 0; /*start invisible*/
    -webkit-transform: translateX(5srem);
            transform: translateX(5srem);
  }
  100% {
    /*animation end*/
    opacity: 1; /*visible 100% opacity*/
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
body {
  /*we reset the default text conditions*/
  font-family: Roboto, sans-serif;
  font-weight: 300;
  /*font-size: 16px;*/
  line-height: 1.6;
  color: #f4f4f4;
}

.nav {
  color: #f4f4f4;
  font-size: 2.2rem;
  font-weight: 600;
  text-shadow: 0.2rem 0.2rem 0.1rem black;
}

.heading-primary--main {
  font-size: 5.5rem;
  font-weight: 900;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  line-height: 6rem;
  text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.8);
  /* other animation options:
    animation-delay: 3s; ----> animation takes n seconds to start
    animation-iteration-count: 3; ---> animation occurs 3 times
    */
}
.heading-primary--sub {
  font-size: 2.75rem;
  font-weight: 600;
  color: #f4f4f4;
  text-transform: none;
  text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.8);
  -webkit-animation: moveInBottom 1s ease-out;
          animation: moveInBottom 1s ease-out; /* animation summarizes all the steps in heading-primary-main 
(name, duration, functin, etc)*/
}
.heading-primary--color-primary {
  color: #8febe8;
}
.heading-primary--color-secondary {
  color: #ff4163;
}
.heading-primary--color-tertiary {
  color: #bb55f5;
}
.heading-primary--color-dark {
  color: #170133;
  text-shadow: none;
}

.heading-secondary {
  color: #bb55f5;
  font-size: 2.3rem;
  font-weight: 600;
}

.heading-tertiary {
  color: #f4f4f4;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.9rem;
  display: inline;
  text-align: center;
}

.heading-fourth {
  color: #f4f4f4;
  font-size: 2.4rem;
  font-weight: 700;
  display: inline;
}

.btn {
  color: #8febe8;
  font-size: 2.75rem;
  font-weight: 700;
}

.card-text {
  color: #f4f4f4;
  font-size: 1.7rem;
  font-weight: 600;
}

.cta-contacto {
  text-decoration: none;
  color: #ff4163;
  font-size: 1.75rem;
  font-weight: 600;
}
.cta-contacto:hover {
  color: #8febe8;
  -webkit-box-shadow: 0 1rem 2rem rgba(23, 1, 51, 0.4);
          box-shadow: 0 1rem 2rem rgba(23, 1, 51, 0.4);
}

.footer-text {
  color: #f4f4f4;
  font-size: 1.75rem;
  font-weight: 700;
}

.footer__nav__menu__link {
  color: #f4f4f4;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 3rem;
}

.contacto__heading--sub {
  font-size: 2.6rem;
  font-weight: 600;
  color: #f4f4f4;
  text-transform: none;
  text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.8);
}

.popup__text {
  color: #170133;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.nav {
  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  z-index: 10;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 8/-2;
  grid-row: 1/2;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.nav__menu__link:link, .nav__menu__link:visited {
  color: #f4f4f4;
  text-decoration: none;
  /*text-transform: uppercase;*/
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.nav__menu__link:hover, .nav__menu__link:active {
  color: #ff4163;
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}
.nav__logo {
  grid-column: 2;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  width: 140%;
}

.btn, .btn:link, .btn:visited {
  color: #170133;
  background: -webkit-gradient(linear, left top, right top, from(#8febe8), to(#bb55f5));
  background: -o-linear-gradient(left, #8febe8, #bb55f5);
  background: linear-gradient(to right, #8febe8, #bb55f5);
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1.6rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn:hover {
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(23, 1, 51, 0.4);
          box-shadow: 0 1rem 2rem rgba(23, 1, 51, 0.4); /* x value, y value, blur, color*/
}
.btn:hover::after {
  -webkit-transform: scaleX(1.25) scaleY(1.6);
      -ms-transform: scaleX(1.25) scaleY(1.6);
          transform: scaleX(1.25) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  /*when clicked*/
  outline: none;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(23, 1, 51, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(23, 1, 51, 0.2);
}
.btn--white {
  background-color: #f4f4f4;
  color: #170133;
}
.btn--white::after {
  background-color: #f4f4f4;
}
.btn--form {
  background-color: #8febe8;
  color: #170133;
  font-size: 2rem;
  margin-top: 3rem;
}
.btn--form::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#8febe8), to(#bb55f5));
  background-image: -o-linear-gradient(left, #8febe8, #bb55f5);
  background-image: linear-gradient(to right, #8febe8, #bb55f5);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btn--animated {
  -webkit-animation: moveInBottom 1s ease-out 0.75s;
          animation: moveInBottom 1s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.icon {
  width: 6rem;
  height: 6rem;
  display: block;
  margin: auto;
}
.icon-experience {
  margin-bottom: 2rem;
}
.icon-rocket {
  margin-bottom: 2rem;
}
.icon-cap {
  margin-bottom: 2rem;
}
.icon-facebook {
  width: 6rem;
  height: 6rem;
  color: #ff4163;
}
.icon-instagram {
  width: 6rem;
  height: 6rem;
  color: #ff4163;
}
.icon-whatsapp {
  width: 6rem;
  height: 6rem;
  color: #ff4163;
}

.popup {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(23, 1, 51, 0.85);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.popup__content {
  grid-column: 3/-3;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  display: table;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
      -ms-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  -webkit-transition: all 0.5s 0.2s;
  -o-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
  padding-right: 3rem;
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
.popup__right {
  width: 66.666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-column-rule: 1px solid #4d4c4c;
     -moz-column-rule: 1px solid #4d4c4c;
          column-rule: 1px solid #4d4c4c;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #ff4163;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #bb55f5;
}

.container {
  background: -webkit-gradient(linear, left top, right bottom, from(#8febe8), to(#bb55f5));
  background: -o-linear-gradient(top left, #8febe8, #bb55f5);
  background: linear-gradient(to bottom right, #8febe8, #bb55f5);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, [col-start] minmax(-webkit-min-content, 1fr) [col-end]);
  grid-template-columns: repeat(12, [col-start] minmax(min-content, 1fr) [col-end]);
  padding: 4rem;
}

.subgrid {
  display: grid;
  grid-column: 1/-1;
  grid-template-rows: minmax(-webkit-min-content, 1fr);
  grid-template-rows: minmax(min-content, 1fr);
  grid-template-columns: repeat(12, minmax(-webkit-min-content, 1fr));
  grid-template-columns: repeat(12, minmax(min-content, 1fr));
}

.heading-primary {
  grid-column: 1/-1;
  grid-row: 1;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: minmax(min-content, max-content);
  grid-column: 1/-1;
  grid-row: 1/-1;
  font-family: Montserrat;
}
.header__background {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(23, 1, 51, 0.8)), to(rgba(187, 85, 245, 0.1))), url("../src/img/house2.jpg");
  background-image: -o-linear-gradient(top left, rgba(23, 1, 51, 0.8), rgba(187, 85, 245, 0.1)), url("../src/img/house2.jpg");
  background-image: linear-gradient(to bottom right, rgba(23, 1, 51, 0.8), rgba(187, 85, 245, 0.1)), url("../src/img/house2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.header__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/-1;
  grid-row: 2;
}
.header__card__text {
  grid-column: 2/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}
.footer__card__logo {
  height: 80%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__card__logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.footer__card__text {
  max-width: 70%;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__nav__menu__link:link, .footer__nav__menu__link:visited {
  color: #f4f4f4;
  text-decoration: none;
}
.footer__nav__menu__link:hover, .footer__nav__menu__link:active {
  color: #ff4163;
}
.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__redes__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__redes__text {
  max-width: 70%;
  display: block;
  margin-bottom: 1.5rem;
  text-align: center;
}

.sobre-nosotros {
  display: grid;
  grid-column: 1/-1;
  grid-row: 2 span 1;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  padding-top: 10rem;
  padding-bottom: 10rem;
  row-gap: 10rem;
  background-color: #170133;
  color: #bb55f5;
}
.sobre-nosotros__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(-webkit-min-content, 1fr);
  grid-template-rows: minmax(min-content, 1fr);
  grid-column: 2/-2;
  gap: 3.5rem;
}
.sobre-nosotros__card--experiencia {
  grid-column: 1/2;
  grid-row: 1;
  background-color: #170133;
  border-radius: 1rem;
}
.sobre-nosotros__card--tecnologia {
  grid-column: 2/3;
  grid-row: 1;
  background-color: #170133;
  border-radius: 1rem;
}
.sobre-nosotros__card--compartir {
  grid-column: 3/4;
  grid-row: 1;
  background-color: #170133;
  border-radius: 1rem;
}
.sobre-nosotros__cta {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gradient-box {
  margin: auto;
  background: -webkit-gradient(linear, left top, right top, from(#8febe8), to(#bb55f5));
  background: -o-linear-gradient(left, #8febe8, #bb55f5);
  background: linear-gradient(to right, #8febe8, #bb55f5);
  padding: 2px;
  border-radius: 1rem;
}

.servicios {
  background-color: #170133;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#170133), to(rgba(187, 85, 245, 0.12)));
  background-image: -o-linear-gradient(bottom, #170133, rgba(187, 85, 245, 0.12));
  background-image: linear-gradient(to top, #170133, rgba(187, 85, 245, 0.12));
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  padding-top: 10rem;
  padding-bottom: 10rem;
  gap: 6rem;
}
.servicios__servicio {
  grid-column: 3/-3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 3.5rem;
}
.servicios__servicio--1 {
  background-image: -webkit-gradient(linear, right top, left top, from(#170133), to(rgba(23, 1, 51, 0)));
  background-image: -o-linear-gradient(right, #170133 0%, rgba(23, 1, 51, 0));
  background-image: linear-gradient(to left, #170133 0%, rgba(23, 1, 51, 0));
}
.servicios__servicio--2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#170133), to(rgba(23, 1, 51, 0)));
  background-image: -o-linear-gradient(left, #170133 0%, rgba(23, 1, 51, 0));
  background-image: linear-gradient(to right, #170133 0%, rgba(23, 1, 51, 0));
}
.servicios__servicio--3 {
  background-image: -webkit-gradient(linear, right top, left top, from(#170133), to(rgba(23, 1, 51, 0)));
  background-image: -o-linear-gradient(right, #170133 0%, rgba(23, 1, 51, 0));
  background-image: linear-gradient(to left, #170133 0%, rgba(23, 1, 51, 0));
}
.servicios__servicio--4 {
  background-image: -webkit-gradient(linear, left top, right top, from(#170133), to(rgba(23, 1, 51, 0)));
  background-image: -o-linear-gradient(left, #170133 0%, rgba(23, 1, 51, 0));
  background-image: linear-gradient(to right, #170133 0%, rgba(23, 1, 51, 0));
}
.servicios__servicio--5 {
  background-image: -webkit-gradient(linear, right top, left top, from(#170133), to(rgba(23, 1, 51, 0)));
  background-image: -o-linear-gradient(right, #170133 0%, rgba(23, 1, 51, 0));
  background-image: linear-gradient(to left, #170133 0%, rgba(23, 1, 51, 0));
}
.servicios__servicio__textbox {
  margin: auto;
  margin-left: 4rem;
  margin-right: 4rem;
}
.servicios__servicio__textbox__text {
  margin-bottom: 1rem;
}
.servicios__servicio__textbox--1 {
  grid-column: 2/-1;
  text-align: left;
}
.servicios__servicio__textbox--2 {
  grid-column: 1/-2;
  text-align: right;
}
.servicios__servicio__textbox--3 {
  grid-column: 2/-1;
  text-align: left;
}
.servicios__servicio__textbox--4 {
  grid-column: 1/-2;
  text-align: right;
}
.servicios__servicio__img {
  background-color: rgba(187, 85, 245, 0.2);
  border-radius: 50%;
}
.servicios__servicio__img--1 {
  grid-column: 1/2;
}
.servicios__servicio__img--2 {
  grid-column: 3/-1;
}
.servicios__servicio__img--3 {
  grid-column: 1/2;
}
.servicios__servicio__img--4 {
  grid-column: 3/-1;
}

.contacto {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  background-color: #170133;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.1)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  padding-top: 12rem;
  justify-items: center;
}
.contacto__text {
  grid-column: 1/-1;
}
.contacto__form {
  display: grid;
  grid-column: 5/-5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(244, 244, 244, 0.1);
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: 6rem;
  padding-top: 4rem;
  border-radius: 3rem;
}
.contacto__form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.contacto__form__textarea {
  resize: none;
}
.contacto__form__input {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba(187, 85, 245, 0.3);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.contacto__form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(244, 244, 244, 0.01);
          box-shadow: 0 1rem 2rem rgba(244, 244, 244, 0.01);
  border-bottom: 3px solid #8febe8;
}
.contacto__form__input:focus:invalid {
  border-bottom: 3px solid #ff4163;
}
.contacto__form__input::-webkit-input-placeholder {
  color: #f4f4f4;
}
.contacto__form__label {
  color: #f4f4f4;
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 2.5rem;
  margin-bottom: 0.7rem;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.contacto__form__input:-moz-placeholder-shown + .contacto__form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(3rem);
}
.contacto__form__input:-ms-input-placeholder + .contacto__form__label {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(3rem);
      transform: translateY(3rem);
}
.contacto__form__input:placeholder-shown + .contacto__form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(3rem);
      -ms-transform: translateY(3rem);
          transform: translateY(3rem);
}/*# sourceMappingURL=main.css.map */