/*
    000 - 600      phone
    600 - 900      tablet portrait
    900 - 1200     tablet landscape
    [1200 - 1800]  normal styles
    1800 +         big desktop
*/
/*

Breakpoint argument choices

-phone
-tab-port
-tab-land
-big-desktop
*/
.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 6rem;
}

.ta-c {
  text-align: center;
}

.padding-md {
  padding: 3rem 3rem 3rem 4rem;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 47.5%;
  }
}

.thanks_popup,
.fail_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 300;
}

.thanks_popup_content,
.fail_popup_content {
  width: 60rem;
  height: 25rem;
  padding: 8rem 3rem 3rem 3rem;
  background: #170133;
  border-radius: 8px;
  animation: glow-box 0.8s infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 40.625em) {
  .thanks_popup_content,
  .fail_popup_content {
    width: 80%;
    height: 40%;
  }
}

@keyframes glow-box {
  from {
    box-shadow: inset 0 0 0rem 0.1rem rgba(255, 65, 99, 0.2), 0 0 1rem 0.2rem rgba(255, 65, 99, 0.2), 0 0 0rem 0.2rem rgba(255, 65, 99, 0.2), 0 0 0rem 0.1rem rgba(255, 65, 99, 0.2);
  }
  to {
    box-shadow: inset 0 0 1rem 0.1rem rgba(255, 65, 99, 0.2), 0 0 1.2rem 0.3rem rgba(255, 65, 99, 0.2), 0 0 2.2rem 0.3rem rgba(255, 65, 99, 0.2), 0 0 3.2rem 0.3rem rgba(255, 65, 99, 0.2);
  }
}
.thanks_popup_content h1,
.fail_popup_content h1 {
  font-size: 3rem;
  font-weight: 800;
}

.thanks_popup_content p,
.fail_popup_content p {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  width: 90%;
}

.thanks_popup:target,
.fail_popup:target {
  visibility: visible;
  opacity: 1;
}

.popup_close_button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
}

.popup_logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 10rem;
  height: auto;
}

@keyframes moveInBottom {
  /*animation*/
  0% {
    /*animation start*/
    opacity: 0; /*start invisible*/
    transform: translateY(10rem);
  }
  100% {
    /*animation end*/
    opacity: 1; /*visible 100% opacity*/
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  /*animation*/
  0% {
    /*animation start*/
    opacity: 0; /*start invisible*/
    transform: translateX(5srem);
  }
  100% {
    /*animation end*/
    opacity: 1; /*visible 100% opacity*/
    transform: translate(0);
  }
}
body {
  /*we reset the default text conditions*/
  font-family: Roboto, sans-serif;
  font-weight: 300;
  /*font-size: 16px;*/
  line-height: 1.6;
  color: #f4f4f4;
}

.nav {
  color: #f4f4f4;
  font-size: 2.2rem;
  font-weight: 600;
  text-shadow: 0.2rem 0.2rem 0.1rem black;
}

.heading-primary--main {
  font-size: 5.5rem;
  font-weight: 900;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  line-height: 6rem;
  text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.8);
  /* other animation options:
    animation-delay: 3s; ----> animation takes n seconds to start
    animation-iteration-count: 3; ---> animation occurs 3 times
    */
}
@media only screen and (max-width: 53.125em) {
  .heading-primary--main {
    font-size: 4.5rem;
  }
}
.heading-primary--sub {
  font-size: 2.75rem;
  font-weight: 600;
  color: #f4f4f4;
  text-transform: none;
  text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.8);
  animation: moveInBottom 1s ease-out; /* animation summarizes all the steps in heading-primary-main 
(name, duration, functin, etc)*/
}
.heading-primary--color-primary {
  color: #8febe8;
}
.heading-primary--color-secondary {
  color: #ff4163;
}
.heading-primary--color-tertiary {
  color: #bb55f5;
}
.heading-primary--color-dark {
  color: #170133;
  text-shadow: none;
}

.heading-secondary {
  color: #bb55f5;
  font-size: 2.3rem;
  font-weight: 600;
}

.heading-tertiary {
  color: #f4f4f4;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.9rem;
  display: inline;
  text-align: center;
}

.heading-fourth {
  color: #f4f4f4;
  font-size: 2.4rem;
  font-weight: 700;
  display: inline;
}

.btn {
  color: #8febe8;
  font-size: 2.75rem;
  font-weight: 700;
}

.card-text {
  color: #f4f4f4;
  font-size: 1.7rem;
  font-weight: 600;
}

.cta-contacto {
  text-decoration: none;
  color: #ff4163;
  font-size: 1.75rem;
  font-weight: 600;
}
.cta-contacto:hover {
  color: #8febe8;
  box-shadow: 0 1rem 2rem rgba(23, 1, 51, 0.4);
}

.footer-text {
  color: #f4f4f4;
  font-size: 1.75rem;
  font-weight: 700;
}

.footer__nav__menu__link {
  color: #f4f4f4;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 3rem;
}

.contacto__heading--sub {
  font-size: 2.6rem;
  font-weight: 600;
  color: #f4f4f4;
  text-transform: none;
  text-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.8);
}

.popup__text {
  color: #170133;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: auto;
  justify-content: space-between;
  z-index: 10;
}
@media only screen and (max-width: 46.87em) {
  .nav__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}
.nav__menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}
@media only screen and (max-width: 46.87em) {
  .nav__menu {
    flex-direction: column;
    gap: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}
.nav__menu__link:link, .nav__menu__link:visited {
  display: inline-block;
  flex: 1;
  color: #f4f4f4;
  text-decoration: none;
  transition: all 0.6s;
}
@media only screen and (max-width: 46.87em) {
  .nav__menu__link:link, .nav__menu__link:visited {
    display: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f4f4f4 50%);
    width: 0;
    background-size: 220%;
    text-shadow: none;
    color: transparent;
  }
}
.nav__menu__link:hover, .nav__menu__link:active {
  color: #ff4163;
  transform: translateY(0.1rem);
}
@media only screen and (max-width: 46.87em) {
  .nav__menu__link:hover, .nav__menu__link:active {
    background-position: 100%;
    color: #170133;
    transform: translateX(1rem);
    text-shadow: none;
  }
}
.nav__logo {
  width: 20rem;
}
.nav__checkbox {
  display: none;
}
.nav__checkbox:checked ~ .nav__background {
  transform: scale(60);
}
.nav__checkbox:checked ~ .nav__nav {
  width: 100%;
  opacity: 1;
}
.nav__checkbox:checked ~ .nav__nav > .nav__menu > .nav__menu__item > .nav__menu__link {
  color: #f4f4f4;
  width: 100%;
  display: inline-block;
}
.nav__checkbox:checked ~ .nav__nav > .nav__menu > .nav__menu__item > .nav__menu__link:hover, .nav__checkbox:checked ~ .nav__nav > .nav__menu > .nav__menu__item > .nav__menu__link:active {
  color: #170133;
}
.nav__button {
  display: none;
}
@media only screen and (max-width: 46.87em) {
  .nav__button {
    display: flex;
    background-color: rgba(244, 244, 244, 0.8);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(23, 1, 51, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }
}
.nav__background {
  display: none;
}
@media only screen and (max-width: 46.87em) {
  .nav__background {
    display: block;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-image: radial-gradient(#bb55f5, #170133);
    z-index: 1000;
    transition: transform 0.8s;
  }
}
.nav__icon {
  position: relative;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #170133;
  display: inline-block;
  content: "";
}
.nav__icon::before, .nav__icon::after {
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav__icon::before {
  top: -1rem;
}
.nav__icon::after {
  top: 1rem;
}
.nav__button:hover .nav__icon::before {
  transform: translateY(-1px);
}
.nav__button:hover .nav__icon::after {
  transform: translateY(1px);
}
.nav__checkbox:checked + .nav__button .nav__icon {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__button .nav__icon::before {
  transform: rotate(45deg);
  top: 0;
}
.nav__checkbox:checked + .nav__button .nav__icon::after {
  transform: rotate(-45deg);
  top: 0;
}

.btn, .btn:link, .btn:visited {
  color: #170133;
  background: linear-gradient(to right, #8febe8, #bb55f5);
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1.6rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(23, 1, 51, 0.4); /* x value, y value, blur, color*/
}
.btn:hover::after {
  transform: scaleX(1.25) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  /*when clicked*/
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(23, 1, 51, 0.2);
}
.btn--white {
  background-color: #f4f4f4;
  color: #170133;
}
.btn--white::after {
  background-color: #f4f4f4;
}
.btn--form {
  background-color: #8febe8;
  color: #170133;
  font-size: 2rem;
  margin-top: 3rem;
}
.btn--form::after {
  background-image: linear-gradient(to right, #8febe8, #bb55f5);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.icon {
  width: 6em;
  height: 6em;
  display: block;
  margin: auto;
}
.icon-experience {
  margin-bottom: 2rem;
}
.icon-rocket {
  margin-bottom: 2rem;
}
.icon-cap {
  margin-bottom: 2rem;
}
.icon-facebook {
  width: 5em;
  height: 5em;
  color: #ff4163;
}
.icon-instagram {
  width: 5em;
  height: 5em;
  color: #ff4163;
}
.icon-whatsapp {
  width: 5em;
  height: 5em;
  color: #ff4163;
}

.popup {
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(23, 1, 51, 0.85);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  display: flex;
  min-width: 50%;
  max-width: 65%;
  background-color: #f4f4f4;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.1);
  transition: all 0.5s 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .popup__content {
    max-width: 90%;
  }
}
@media only screen and (max-width: 50em) {
  .popup__content {
    max-width: 100%;
  }
}
.popup__left {
  flex: 0.35;
  align-self: center;
}
.popup__right {
  flex: 0.65;
  align-self: center;
  padding: 0 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  height: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #4d4c4c;
  hyphens: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #ff4163;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #bb55f5;
}

.container {
  background: linear-gradient(to bottom right, #8febe8, #bb55f5);
  padding: 4rem;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 0;
  }
}
.container::-webkit-scrollbar {
  width: 1rem;
}
.container::-webkit-scrollbar-track {
  background: rgba(23, 1, 51, 0.4);
}
.container::-webkit-scrollbar-thumb {
  background: rgba(23, 1, 51, 0.7);
  border-radius: 0.5rem;
}
.container::-webkit-scrollbar-thumb:hover {
  background: #170133;
}

.heading-primary {
  grid-column: 1/-1;
  grid-row: 1;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  background-image: linear-gradient(to bottom right, rgba(23, 1, 51, 0.8), rgba(187, 85, 245, 0.1)), url("../src/img/house2.jpg");
  height: 100vh;
  padding: 6rem 6rem 0 6rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.header__card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .header__card {
    gap: 4rem;
  }
}

.footer {
  grid-column: 1/-1;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 50em) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
.footer__card {
  display: flex;
  width: 33%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;
}
@media only screen and (max-width: 50em) {
  .footer__card {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }
}
.footer__card__logo {
  height: 80%;
  width: 40%;
  display: flex;
}
@media only screen and (max-width: 50em) {
  .footer__card__logo {
    width: 20%;
  }
}
.footer__card__logo__img {
  object-fit: contain;
  width: 100%;
}
.footer__card__text {
  max-width: 70%;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}
@media only screen and (max-width: 50em) {
  .footer__card__text {
    display: none;
  }
}
.footer__nav {
  display: flex;
  width: 33%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .footer__nav {
    width: 100%;
  }
}
.footer__nav__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 50em) {
  .footer__nav__menu {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}
.footer__nav__menu__link:link, .footer__nav__menu__link:visited {
  color: #f4f4f4;
  text-decoration: none;
}
.footer__nav__menu__link:hover, .footer__nav__menu__link:active {
  color: #ff4163;
}
.footer__redes {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
@media only screen and (max-width: 50em) {
  .footer__redes {
    width: 100%;
  }
}
.footer__redes__icons {
  display: flex;
  gap: 1.5rem;
}
.footer__redes__text {
  max-width: 70%;
  display: block;
  text-align: center;
}

.sobre-nosotros {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #170133;
  color: #bb55f5;
}
.sobre-nosotros__box {
  display: grid;
  gap: 4rem;
  margin: auto 6rem auto 6rem;
  grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
}
@media only screen and (max-width: 56.25em) {
  .sobre-nosotros__box {
    grid-template-columns: 1fr;
  }
}
.sobre-nosotros__card {
  height: 100%;
}
@media only screen and (max-width: 56.25em) {
  .sobre-nosotros__card {
    max-width: 50rem;
  }
}
.sobre-nosotros__card--experiencia {
  background-color: #170133;
  align-self: stretch;
  height: 100%;
  border-radius: 1rem;
}
.sobre-nosotros__card--tecnologia {
  background-color: #170133;
  align-self: stretch;
  height: 100%;
  border-radius: 1rem;
}
.sobre-nosotros__card--compartir {
  background-color: #170133;
  align-self: stretch;
  height: 100%;
  border-radius: 1rem;
}
.sobre-nosotros__cta {
  margin: auto;
}

.gradient-box {
  height: 100%;
  margin: auto;
  background: linear-gradient(to right, #8febe8, #bb55f5);
  padding: 2px;
  border-radius: 1rem;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #170133;
  background-image: linear-gradient(to top, #170133, rgba(187, 85, 245, 0.12));
  gap: 6rem;
  padding: 6rem 4rem 8rem 4rem;
}
.servicios__servicio {
  display: flex;
  flex-direction: row;
  min-width: 60%;
  max-width: 80%;
  border-radius: 3.5rem;
}
@media only screen and (max-width: 50.63em) {
  .servicios__servicio {
    max-width: 90%;
  }
}
@media only screen and (max-width: 37.5em) {
  .servicios__servicio {
    flex-direction: column;
    max-width: 70%;
  }
}
.servicios__servicio__textbox {
  margin: auto;
  margin-left: 4rem;
  margin-right: 4rem;
}
@media only screen and (max-width: 50.63em) {
  .servicios__servicio__textbox {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .servicios__servicio__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.servicios__servicio__textbox__text {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .servicios__servicio__textbox__text {
    text-align: center;
  }
}
.servicios__servicio__textbox__heading {
  text-align: center;
}
.servicios__servicio__imgbox {
  background-color: rgba(187, 85, 245, 0.2);
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
}
@media only screen and (max-width: 50.63em) {
  .servicios__servicio__imgbox {
    align-self: center;
    width: 25rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .servicios__servicio__imgbox {
    margin-bottom: 2rem;
  }
}
.servicios__servicio__img {
  width: 30rem;
  height: auto;
}
@media only screen and (max-width: 50.63em) {
  .servicios__servicio__img {
    width: 25rem;
  }
}

.servicios__servicio--1 {
  background-image: linear-gradient(to left, #170133 0%, rgba(23, 1, 51, 0));
}

.servicios__servicio--2 {
  background-image: linear-gradient(to right, #170133 0%, rgba(23, 1, 51, 0));
}

.servicios__servicio--3 {
  background-image: linear-gradient(to left, #170133 0%, rgba(23, 1, 51, 0));
}

.servicios__servicio--4 {
  background-image: linear-gradient(to right, #170133 0%, rgba(23, 1, 51, 0));
}

.servicios__servicio--5 {
  background-image: linear-gradient(to left, #170133 0%, rgba(23, 1, 51, 0));
}

@media only screen and (max-width: 37.5em) {
  .servicios__servicio {
    background-image: linear-gradient(to top, #170133 0%, rgba(23, 1, 51, 0));
  }
}

.servicios__servicio__imgbox--1 {
  order: -1;
}

.servicios__servicio__imgbox--2 {
  order: 1;
}

.servicios__servicio__imgbox--3 {
  order: -1;
}

.servicios__servicio__imgbox--4 {
  order: 1;
}

.servicios__servicio__imgbox--5 {
  order: -1;
}

@media only screen and (max-width: 37.5em) {
  .servicios__servicio__imgbox {
    order: -1;
  }
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #170133;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  gap: 6rem;
  padding: 8rem 0;
  justify-items: center;
}
@media only screen and (max-width: 37.5em) {
  .contacto {
    text-align: center;
  }
}
.contacto__heading {
  max-width: 80%;
}
.contacto__form {
  justify-content: center;
  min-width: 45%;
  max-width: 80%;
  background-color: rgba(244, 244, 244, 0.1);
  padding: 6rem;
  padding-top: 4rem;
  border-radius: 3rem;
}
.contacto__form__group {
  display: flex;
  flex-direction: column-reverse;
}
.contacto__form__textarea {
  resize: none;
}
.contacto__form__input {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba(187, 85, 245, 0.3);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.contacto__form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(244, 244, 244, 0.01);
  border-bottom: 3px solid #8febe8;
}
.contacto__form__input:focus:invalid {
  border-bottom: 3px solid #ff4163;
}
.contacto__form__input::-webkit-input-placeholder {
  color: #f4f4f4;
}
.contacto__form__label {
  color: #f4f4f4;
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 2.5rem;
  margin-bottom: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.contacto__form__input:placeholder-shown + .contacto__form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(3rem);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #f4f4f4 !important;
}

.terminos {
  color: #000;
}
.terminos__content {
  height: 100%;
  overflow: hidden;
}
.terminos__content__text {
  flex: 1;
  height: 92.5%;
  margin-top: 8rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.terminos__content__text::-webkit-scrollbar {
  width: 0.8rem;
}
.terminos__content__text::-webkit-scrollbar-track {
  background: #f4f4f4;
}
.terminos__content__text::-webkit-scrollbar-thumb {
  background: rgba(23, 1, 51, 0.7);
  border-radius: 0.4rem;
}
.terminos__content__text::-webkit-scrollbar-thumb:hover {
  background: #170133;
}
.terminos__content__text > h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.terminos__content__text > p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 2rem;
}
.terminos__content__text > p > a {
  color: #ff4163;
  text-decoration: none;
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
