.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-background;
  background-image: linear-gradient(
    to bottom,
    rgba($color-black, 0.4),
    rgba($color-black, 0.1)
  );
  gap: 6rem;
  // padding-top: 8rem;
  padding: 8rem 0;
  // padding: 8rem 8rem 8rem auto;
  justify-items: center;

  // &__text {
  //   // grid-column: 1 / -1;
  // }

  &__form {
    justify-content: center;
    min-width: 45%;
    max-width: 80%;
    background-color: rgba($color-white, 0.1);
    // margin-top: 8rem;
    // margin-bottom: 8rem;
    padding: 6rem;
    padding-top: 4rem;
    border-radius: 3rem;

    &__group {
      display: flex;
      flex-direction: column-reverse;
    }

    &__textarea {
      resize: none;
    }

    &__input {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 0.5rem;
      background-color: rgba($color-tertiary, 0.3);
      border: none;
      border-bottom: 3px solid transparent;
      width: 100%;
      display: block;
      transition: all 0.3s;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-white, 0.01);
        border-bottom: 3px solid $color-primary;
      }

      &:focus:invalid {
        border-bottom: 3px solid $color-secondary;
      }

      &::-webkit-input-placeholder {
        color: $color-white;
      }
    }

    &__label {
      color: $color-white;
      font-size: 1.3rem;
      font-weight: 700;
      margin-left: 2.5rem;
      margin-bottom: 0.7rem;
      display: block;
      transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(3rem);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: $color-white !important;
}
