.sobre-nosotros {
  // display: grid;
  // grid-column: 1 / -1;
  // grid-row: 2 span 1;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: repeat(3, min-content);
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  // row-gap: 10rem;
  background-color: $color-background;
  color: $color-tertiary;

  &__heading {
  }

  &__box {
    display: grid;
    gap: 4rem;
    margin: auto 6rem auto 6rem;

    // flex: 1;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    // grid-template-rows: minmax(min-content, 1fr);
    // grid-column: 2 / -2;
    // gap: 3.5rem;
  }
  &__card {
    height: 100%;
    @media only screen and (max-width: 107.81em) {
      max-width: 39rem;
    }
    // & > * {
    //   height: 100%;
    //   width: 100%;
    // }

    &--experiencia {
      // flex: 1;
      // grid-column: 1 / 2;
      // grid-row: 1;
      background-color: $color-background;
      align-self: stretch;
      height: 100%;
      border-radius: 1rem;
    }

    &--tecnologia {
      // flex: 1;

      // grid-column: 2 / 3;
      // grid-row: 1;
      background-color: $color-background;
      align-self: stretch;
      height: 100%;

      border-radius: 1rem;
    }

    &--compartir {
      // flex: 1;

      // grid-column: 3 / 4;
      // grid-row: 1;
      background-color: $color-background;
      align-self: stretch;
      height: 100%;

      border-radius: 1rem;
    }
  }

  &__cta {
    margin: auto;
  }
}

.gradient-box {
  height: 100%;
  margin: auto;
  background: linear-gradient(to right, $color-primary, $color-tertiary);
  // background-clip: padding-box;
  padding: 2px;

  border-radius: 1rem;
}

// .about {
//   background-color: $color-white;
//   display: grid;
//   grid-row: 3 / 4;
//   grid-column: full-start / full-end;
//   grid-template-columns: 60vw 40vw;

//   -webkit-clip-path: polygon(0 7.5%, 100% 0%, 100% 100%, 0% 100%);
//   clip-path: polygon(0 7.5%, 100% 0%, 100% 100%, 0% 100%);

//   &__header {
//     padding: 3rem;
//     margin-top: 3rem;
//     grid-row: 1/2;
//     grid-column: 1 / 2;
//     display: inline-block;
//     justify-self: right;
//   }
//   &__text {
//     color: $color-text-grey;
//     font-size: 1.4rem;
//     font-weight: 400;
//     grid-row: 2/3;
//     grid-column: 1 / 2;
//     display: block;
//     margin-left: 15rem;
//     margin-bottom: 3rem;
//     text-align: right;
//     align-self: end;
//   }
//   &__img {
//     grid-row: 1/3;
//     grid-column: 2 / 3;
//     width: 100%; //have to set both width and height for this to work
//     height: 100%;
//     object-fit: cover;
//     display: block;
//     align-self: center;
//   }
// }
