.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color-background, 1);
  background-image: linear-gradient(
    to top,
    rgba($color-background, 1),
    rgba($color-tertiary, 0.12)
  );
  gap: 6rem;
  padding: 6rem 4rem 8rem 4rem;

  &__servicio {
    // background-color: rgba($color-black, 1);
    display: flex;
    flex-direction: row;
    min-width: 60%;
    max-width: 80%;
    border-radius: 3.5rem;

    &__textbox {
      margin: auto;
      margin-left: 4rem;
      margin-right: 4rem;

      &__text {
        margin-bottom: 1rem;
      }
    }

    &__imgbox {
      background-color: rgba($color-tertiary, 0.2);
      border-radius: 50%;
      width: 30rem;
      height: 30rem;
    }

    &__img {
      width: 30rem;
      height: auto;
    }
  }

  // &__color-bar {
  //   grid-column: 1 / -1;
  //   grid-row: 1;
  //   margin-top: -10rem;
  //   height: 12rem;
  //   background-image: linear-gradient(
  //     to right,
  //     $color-tertiary,
  //     $color-tertiary
  //   );
  // }
}

@for $i from 1 through 5 {
  .servicios__servicio--#{$i} {
    @if $i % 2 == 0 {
      background-image: linear-gradient(
        to right,
        rgba($color-background, 1) 0%,
        rgba($color-background, 0)
      );
    }
    @if $i % 2 != 0 {
      background-image: linear-gradient(
        to left,
        rgba($color-background, 1) 0%,
        rgba($color-background, 0)
      );
    }
  }
  $i: $i + 1;
}
