.footer {
  grid-column: 1/-1;
  display: flex;
  background-color: rgba($color-black, 0.85);
  // grid-template-columns: 2fr 1fr 1fr;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__card {
    display: flex;
    width: 33%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    &__logo {
      height: 80%;
      width: 40%;
      display: flex;
      // height: auto;
      &__img {
        object-fit: contain;
        width: 100%;
      }
    }
    &__text {
      max-width: 70%;
      text-align: left;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 1rem;
    }
  }

  &__nav {
    display: flex;
    width: 33%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    &__menu {
      list-style: none;
      display: flex;
      flex-direction: column;

      &__link:link,
      &__link:visited {
        color: $color-white;
        text-decoration: none;
      }

      &__link:hover,
      &__link:active {
        color: $color-secondary;
      }
    }
  }

  &__redes {
    display: flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // grid-template-columns: 1fr 1fr 1fr;
    &__icons {
      display: flex;
      // justify-content: space-around;
    }

    &__text {
      max-width: 70%;
      display: block;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }
}
