.container {
  background-color: $color-background-dark;
  margin: 7rem;
  display: grid;
  grid-template-rows: repeat(1, minmax(min-content, max-content)) 120vh;
  grid-template-columns: repeat(
    12,
    [col-start] minmax(min-content, 8vw) [col-end]
  );
}
