.container {
  background: linear-gradient(
    to bottom right,
    rgba($color-primary, 1),
    rgba($color-tertiary, 1)
  );
  padding: 4rem;
  @media only screen and (max-width: $bp-small) {
    padding: 0;
  }

  // CUSTOM SCROLLBAR

  /* width */
  &::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba($color-background, 0.4);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($color-background, 0.7);
    border-radius: 0.5rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color-background, 1);
  }
}
